/* HI, WANT TO CHANGE SOMETHING IN CSS? THIS ARE THE COMMON COLORS & FONTS

Normal font: 'Overpass', sans-serif;
Capitals: 'Staatliches', cursive;

Yellow: #E2BD6B;
Green: #BAC7BA;
Dark blue: #1C3B6D;
Light blue: #CBD3D8;
Light grey: #E5DEDE;
Dark grey: #999999;
*/

* {
	box-sizing: border-box;
}

.hidden {
	display: none;
}

body {
	background-color: white;
	font-family: 'Overpass', sans-serif;
	margin: 0;
}

.navbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding: 0.5em;
	box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
	background-color: #E2BD6B;
}
.navbar a {
    color: white;
    font-size: 0.8em;
    text-decoration: none;
    display: inline-block;
    margin-right: 4em;
    margin-top: 1em;
    margin-left: 4em;
}

a.navbar__logout {
	margin-left: 2em;
	margin-right: 3em;
}

#logo {
    margin-left: 2em;
    font-family: 'Staatliches', cursive;
	font-size: 1.6em;
	margin-bottom: 12px;
	color: #1C3B6C;
}

.navbar form {
	flex: 1 1 30%;
	align-self: flex-end;
	text-align: right;
	margin-bottom: 50px;
	margin-right: 150px;
}

.navbar input {
	width: 100%;
	max-width: 200px;
	background-color:#CBD3D8;
	color: white;
	padding: 0.5em;
	border: 1px solid white;
}

.feed {
	margin-top: 0.2em;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
	grid-gap: 1em;
	padding: 2em;

}

.feed__posts {
	background-size: cover;
	height: 200px;
	background-position: center center;
	max-width: 300px;
}

.talktypeLogin {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr [form] minmax(240px, 450px) 1fr;
	grid-template-rows: 1fr [form] 1fr 1fr;
	justify-content: center;
	align-items: center;
	background-image: url(../images/login.svg);
	background-repeat: no-repeat;
	background-size: cover;
}

.talktypeSettings {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr [form] minmax(240px, 450px) 1fr;
	grid-template-rows: 1fr [form] 1fr 1fr;
	justify-content: center;
	align-items: center;
	background-image: url(../images/settings.svg);
	background-repeat: no-repeat;
	background-size: cover;
}

.talktypeRegister {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr [form] minmax(240px, 450px) 1fr;
	grid-template-rows: 1fr [form] 1fr 1fr;
	justify-content: center;
	align-items: center;
	background-image: url(../images/register.svg);
	background-repeat: no-repeat;
	background-size: cover;
}

.talktypeUpload {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr [form] minmax(240px, 450px) 1fr;
	grid-template-rows: 1fr [form] 1fr 1fr;
	justify-content: center;
	align-items: center;
	background-image: url(../images/register.svg);
	background-repeat: no-repeat;
	background-size: cover;
}
.form__hint {
	display: block;
	color: tomato;
}

.form__title {
	font-size: 20px;
	margin-top: -20px;
	text-align: center;
 }

.form--login {
	width: 500px;
	background-color: white;
	padding: 4em 2em;
	color: #505050;
	grid-column: form;
	margin-top: 11em;
    margin-left: 21em;
	border-radius: 30px;
	box-shadow: 0 0px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1)
}

.form--register {
	width: 500px;
	background-color: white;
	padding: 4em 2em;
	color: #505050;
	grid-column: form;
    margin-top: 3em;
    margin-left: 21em;
	border-radius: 30px;
	box-shadow: 0 0px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1)
}

.form--settings {
	width: 500px;
	background-color: white;
	padding: 4em 2em;
	color: #505050;
	grid-column: form;
	margin-top: 3em;
    margin-left: 21em;
	border-radius: 30px;
	box-shadow: 0 0px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1)
}

#gotAccount {
	text-align: center;
}

#getAccount {
	text-align: center;
}

.inputField {
    width: 95%;
    height: 28px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
	border-bottom: 2px solid #BAC7BA;
	border-top: none;
	border-left: none;
	border-right: none;
	outline: none;
	font-size: 11px;
}

.form input::placeholder {
	font-family: 'Overpass', sans-serif;
	color: #E5DEDE;
	margin-bottom: 5px;
}

.form textarea::placeholder {
	font-family: 'Overpass', sans-serif;
	color: #E5DEDE;
	margin-bottom: 5px;
}

.form__error {
	background-color: #999999;
	color: white;
	font-weight: lighter;
	padding: 0.3em 1em;
	margin-bottom: 1em;
	font-size: 0.9em;
}

.form__field {
	padding-bottom: 1em;
}

.form__field label {
	display: block;
	margin-bottom: 0.2em;
}

.form__field .label__inline {
	display: inline-block;
}

.btn {
	width: 100%;
	margin: 0.5em auto;
}

.btn--primary {
	font-family: 'Staatliches', cursive;
	background-color: #E2BD6B;
	color: white;
	text-align: center;
	border: none;
	padding: 0.3em 2em;
	font-size: 1.4em;
}